<div class="container">
    <div class="souscont">
       <div class="sous">
        <div class="right">
            <img class="img1" src="../../../assets/defi.jpeg">
            <img class="img2" src="../../../assets/defisans.png">
        </div>
        <div class="left">
            <div class="fit">
                <span class="span1">FitLife</span>
                <span class="span2">XV-383723830</span>
            </div>
            <h4>Montre Connectée FitLife Pro5+</h4>
            <div class="etoile-container">
                <span class="etoile">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </span>
                <span class="note">43 notes</span>
            </div>
            <div class="prix-container">
                <span class="prixold">183,99</span>
                <span class="prix">149,99 €</span>
            </div>
            <div class="btn-container">
                <button class="btn">Ajouter au panier</button>
                <div class="aimer">
                    <i class="fa-regular fa-heart" *ngIf="heart==1" (click)="toggleHeart()"></i>
                    <i class="fa-solid fa-heart" *ngIf="heart==2" (click)="toggleHeart()"></i>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
